section.claim {
  text-align: center;
  strong {
    display: block;
    font-size: 3em;
    line-height: 1;
    margin: 2em 0 1em 0;
  }
  @media (min-width: map-get($breakpoints, "xl")) {
    max-width: 1130px;
  }
}