section.start {
  h1 {
    text-align: center;
    small {
      display: block;
      margin: 0 auto 3em auto;
      max-width: 17em;
      font-size: 0.5em;
    }
    img {
      width: 30rem;
      max-width: 70vw;
    }
  }
}