a[role="button"] + a[role="button"] {
  margin-left: 0.5em;
}

body {
  background-image: url("../graphics/background.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 40rem;
}

@media (min-width: 60rem) {
  body {
    background-size: 60rem;
  }
}

@media (min-width: 70rem) {
  body {
    background-size: 70rem;
  }
}

@media (min-width: 90rem) {
  body {
    background-size: 90rem;
  }
}

@media (min-width: 110rem) {
  body {
    background-size: 110rem;
  }
}

em {
  background-color: $primary-500;
  color: #FFF;
}

details summary {
  font-weight: bold;
}