$primary-hue: 160;
$primary-50: hsl($primary-hue, 85%, 95%);
$primary-100: hsl($primary-hue, 85%, 85%);
$primary-200: hsl($primary-hue, 85%, 75%);
$primary-300: hsl($primary-hue, 85%, 65%);
$primary-400: hsl($primary-hue, 85%, 55%);
$primary-500: hsl($primary-hue, 85%, 45%);
$primary-600: hsl($primary-hue, 85%, 35%);
$primary-700: hsl($primary-hue, 85%, 25%);
$primary-800: hsl($primary-hue, 85%, 15%);
$primary-900: hsl($primary-hue, 85%, 5%);