footer.container
  nav
    ul
      li
        strong Lose Dose
    ul
      li
        a(href="index.pug") Start
      li
        a(href="datenschutz.pug") Datenschutz
      li
        a(href="impressum.pug") Impressum