doctype html
html(lang="de", data-theme="light")
  head
    title Datenschutz | Lose Dose – Natur pur, regional und unverpackt in Lüdenscheid
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="./styles/main.scss")
  body
    main.container
      include partials/privacy.html
    include partials/footer.pug