doctype html
html(lang="de", data-theme="light")
  head
    title Lose Dose – Natur pur, regional und unverpackt in Lüdenscheid
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="./styles/main.scss")
  body
    main
      section.container.start
        h1
          small Die Projektgruppe „Nachhaltig leben in Lüdenscheid“ stellt vor –
          img(src="graphics/lose-dose-logo.svg", alt="Lose Dose")
      section.container.claim
        strong.
          Nachhaltigkeit fängt in Lüdenscheid an. Wir sind Menschen aus der Region und wir starten
          einen Unverpackt-Laden in Lüdenscheid. <em>Sei&nbsp;dabei!</em>
        a(role="button", href="https://t9f856936.emailsys1a.net/32/3749/578bebc406/subscribe/form.html?_g=1648673002") Newsletter abonnieren
        a.outline(role="button", href="mailto:info@losedose.de") Gespräch anfangen
      section.container
        h2 Kerr, was ist denn ein Unverpackt-Laden nu wieder?
        p Unsere Projektgruppe plant die Eröffnung eines kleinen Unverpackt-Ladens auf der Hochstraße in Lüdenscheid. In einem solchen Laden gibt es Lebensmittel, Drogerieartikel und mehr, ganz so wie früher – nämlich <em>ohne Verpackung.</em>
        p Verpackung besteht heute leider viel zu oft aus umweltschädlichen Materialien wie Plastik. Bestenfalls wird es nach einmaliger Verwendung recycelt. Schlimmstenfalls landet es in den Weltmeeren.
        p Ein Unverpackt-Laden bietet Getreide, Nudeln, Obst und Gemüse, aber auch Öle, Essig und Gewürze – ja sogar Körperpflegeprodukte zum selbst abfüllen an. <em>Bringt eure eigenen Dosen, Flaschen und Gläser</em> mit und kauft ein, wie bei Tante Emma.
        p Unser Laden ist aber noch mehr als das. Er ist die Erinnerung, dass wir uns ändern müssen und der lebende Beweis, dass es möglich ist. Unsere Produkte sollen nicht nur unverpackt sein, sondern auch <em>bio, fair gehandelt, regional und saisonal,</em> wo immer es geht. Vielleicht nicht die Zukunft des Einzelhandels, aber ein Wegweiser in die richtige Richtung.
      section.container.roadmap
        h2 Fahrplan ins Grüne
        p Unser Team ist vor über einem Jahr in die Planung gestartet und seither haben wir schon einiges erreicht. Es ist jedoch noch einiges zu tun und immer wieder stoßen wir auf neue Herausforderungen. Ebenso allerdings auf neue Mitstreiter*innen und Ideen! Alle sollen an unserem Laden teilhaben und sich einbringen können. Darum werden wir ganz offen und transparent berichten, wo wir herkommen, wo wir hinwollen und an welchen Nüssen wir gerade zu knacken haben.
        ul
          li.done Ein Team aufbauen
          li.done Interne Kommunikation aufbauen
          li.done Inspiration und Erfahrungsberichte sammeln
          li.done Potentielles Ladenlokal finden
          li.done Erste Mitarbeiterin finden
          li.done Name, Logo und Design abstimmen
          li.done Erste Möbel vom Bioladen an der Christuskirche übernehmen
          li.done Übergangslösung für Kund*innen des ehemaligen Bioladens anbieten
          li.wip Geschäftsplan entwickeln
          li.wip Trägerverein gründen
          li.wip Brandschutzprobleme lösen
          li.wip Kommunikationskanäle aufbauen
          li.todo Mietvertrag unterschreiben
          li.todo Ladenlokal renovieren und einrichten
          li.todo Waren bestellen und einräumen
          li.todo Online-Shop einrichten
          li.todo Unverpackt-Laden eröffnen
          li.todo Anstoßen!
        p Neuigkeiten gibt es auch auf unseren Social Media Kanälen auf <a href="https://www.instagram.com/losedose.in.luedenscheid/">Instagram</a>, <a href="https://www.linkedin.com/company/lose-dose-in-luedenscheid">LinkedIn</a> und <a href="https://www.facebook.com/losedose.in.luedenscheid">Facebook</a> und natürlich per <a href="https://t9f856936.emailsys1a.net/32/3749/578bebc406/subscribe/form.html?_g=1648673002">E-Mail-Newsletter</a> – jetzt abonnieren!
      section.container.team
        h2 Team + Unterstützung
        p Das Team hat sich seit dem Start immer wieder dynamisch verändert. Wir arbeiten alle ehrenamtlich an unserm gemeinsamen Traum, darum haben wir alle mal mehr und mal weniger Zeit. Einige übernehmen die Führung, andere arbeiten fleißig im Hintergrund. Jeder spielt seine Stärken aus und alle lernen gemeinsam dazu, was gerade benötigt wird. Bald wollen wir uns hier näher vorstellen – auch mit Fotos.
      section.container.faq
        h2 Fragen + Antworten
        details
          summary Wo soll der Unverpackt-Laden eröffnen?
          p Wir haben ein leerstehendes Ladenlokal auf der Hochstraße in Lüdenscheid (parallel zum Oberstadttunnel) in Aussicht. Es ist nicht zu groß, hat aber eine zweite Etage mit der wir kreativ werden wollen – hier könnten zum Beispiel auch Workshops stattfinden.
        details
          summary Kann ich mit anpacken?
          p Wir freuen uns immer über helfende Hände! Sei es organisatorisch, technisch, fachlich, zum Transport, kreativ, tatkräftig oder auch einfach moralisch. Sei es jede Woche oder auch nur mal nach Bedarf. Melde dich gerne bei uns!
        details
          summary Werdet ihr nur bio/faire/regionale Produkte anbieten?
          p Wir wollen besoners nachhaltige, fair gehandelte, regionale und saisonale Produkte anbieten. Und natürlich unverpackt. Das alles in Kombination ist aber gar nicht so leicht, wie wir das gerne hätten. Daher müssen wir ein wenig pragmatisch an die Sache herangehen und Produkte auswählen, die möglichst viele dieser Kriterien erfüllen und gleichzeitig bezahlbar bleiben. Das ist immer ein Spagat, keine Frage. Ein interessantes Thema ist auch die Zertifizierung: beispielsweise ist die Solawi nicht zertifiziert bio. Aber realistisch betrachtet ist es gewiss besser als die zertifizierte Bio-Tomate von ALDI. Wenn wir die Erzeuger kennen und wir die Proukte guten Gewissens anbieten können, dann ist die Zertifizierung zweitrangig.
        details
          summary Übernehmt ihr den Bioladen an der Christuskirche?
          p Nein, wir nutzen das Ladenlokal ab April 2022 als Übergangslösung und werden dort anfangen die ersten Angebote aufzubauen bzw. teilweise auch fortzuführen. Sobald es möglich ist, wollen wir dann an die Hochstraße umziehen und unser Angebot ausbauen.
        details
          summary Werdet ihr weiterhin Green Bags anbieten?
          p Ja! Die Kund*innen des ehemaligen Bioladens und natürlich auch alle anderen Interessent*innen, können von uns weiterhin die beliebten Green Bags bekommen. Meldet euch einfach bei uns!
      section.container.claim
        strong.
          Gemeinsam machen wir unsere Stadt grüner. <em>Mach&nbsp;mit!</em>
        a(role="button", href) Newsletter abonnieren
        a.outline(role="button", href) Gespräch anfangen
    include partials/footer.pug