doctype html
html(lang="de", data-theme="light")
  head
    title Lose Dose – Natur pur, regional und unverpackt in Lüdenscheid
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="./styles/main.scss")
  body
    main
      section.container.start
        h1
          small Die Projektgruppe „Nachhaltig leben in Lüdenscheid“ stellt vor –
          img(src="graphics/lose-dose-logo.svg", alt="Lose Dose")
      section.container.claim
        strong.
          Nachhaltigkeit fängt in Lüdenscheid an. Wir sind Menschen aus der Region und wir starten
          einen Unverpackt-Laden in Lüdenscheid. <em>Sei&nbsp;dabei!</em>
        a(role="button", href) Newsletter abonnieren
        a.outline(role="button", href) Gespräch anfangen
      section.container.roadmap
        h2 Fahrplan ins Grüne
      section.container.team
        h2 Das Team
      section.container.faq
        h2 Fragen &amp; Antworten
      section.container.claim
        strong.
          Gemeinsam machen wir unsere Stadt grüner. <em>Mach&nbsp;mit!</em>
        a(role="button", href) Newsletter abonnieren
        a.outline(role="button", href) Gespräch anfangen
    include partials/footer.pug